html {
  // Set the baseline size upon which all other em sizes are calculated
  font-size: 16px;
}

@layer components {
  .main-heading {
    @apply text-4xl font-semibold;
  }

  .btn {
    @apply inline-block uppercase mb-6 py-3 px-4 shadow;
  }
}
