// Signature ------------------------------------------------------------------

.signature {
  margin: 0;
  text-align: center;
  width: 100%;

  a {
    background-image: url('https://assets.nlcnet.net/static/tcg-signature.png');
    background-repeat: no-repeat;
    display: block;
    height: 0 !important;
    margin: 15px auto 0;
    overflow: hidden;
    padding-top: 24px;
    width: 120px;

    &:hover {
      background-position: 0 -24px;
    }

    &.light {
      background-image: url('https://assets.nlcnet.net/static/tcg-signature.png');
    }
  }
}

// Admin Panel ----------------------------------------------------------------

.admin-panel {
  background-color: rgba(110, 110, 110, .7);
  bottom: 0;
  display: block;
  padding: 8px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

#dev-notes {
  h2 {
    margin-top: 1em;
  }
}


// Form Styles ---------------------------------------------------------

input.danger {
  border: 1px solid rgba(248, 7, 4, .4);
  box-shadow: inset 0 0 3px rgba(255, 0, 0, .5);
  color: #f00;
  padding: 3px 10px;
}

/* ----------------------------------------------------------------------------
********************************      PRINT      ******************************
-----------------------------------------------------------------------------*/

@media print {
  a[href]:after {
    content: none !important;
  }

  p { font-size: 12pt; }

  header,
  .sidebar,
  .crumbs,
  footer,
  .admin-panel,
  .sub-nav-mobile {
    display: none !important;
  }

  .logo-print {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .content {
    width: 100% !important;
    margin: 0 auto !important;
    float: none !important;
    left: 0 !important;
    right: 0 !important;
  }

  h1 {
    overflow: visible !important;
    height: auto !important;
  }

  a:link { font-weight: bold; text-decoration: underline; color: #06c; }

  table,
  table td,
  .hr hr,
  .divider hr {
    border-color: #999;
  }
}
