@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base/custom';
@import 'base/navigation';
@import 'base/content';
@import 'base/platform';

// Fancybox -------------------------------------------------------------------

// @import 'fancybox/jquery.fancybox';
// @import 'fancybox/custom';

// Justified ------------------------------------------------------------------

// @import 'justified/justifiedGallery.min';
