<footer>
  <div class="mt-8 bg-gray-300">
    <div class="xl:container">
      <div class="p-2 md:p-4">
        <p class="text-sm text-center">&copy;{{ 'now'|date('Y') }} {{ siteName }}. All Rights Reserved.</p>
        {% include '_partials/signature' %}
      </div>
    </div>
  </div>
</footer>
