{% extends "_layouts/base" %}
{% set uri = '/experiences/calendar-of-events' %}

{# Get Calendar Handle #}
{% set activeCalendar = "default" %}

{% if activeCalendar|length %}
  {% set activeCalendars = craft.calendar.calendars({
    handle: activeCalendar
  }) %}
{% endif %}

{% set activeCalendarTitle = '' %}
{% if activeCalendars is defined %}
  {% for calendar in activeCalendars %}
    {% set activeCalendarTitle = calendar.name %}
  {% endfor %}
{% endif %}

{% set pageHeading = entry.pageHeading|length ? entry.pageHeading : entry.title %}

{% block pageLayout %}
  {% embed '_layouts/page/default' %}
    {% block contentLayout %}
      {% embed "_layouts/content/default" %}
        {% block mainContent %}
          <h1 class="main-heading">{{ pageHeading }}</h1>
          {% include 'events/_view' %}
        {% endblock %}
      {% endembed %}
  {% endblock %}
  {% endembed %}
{% endblock %}
